@page "/"

<PageTitle>Home</PageTitle>
<p class="mb-1">@password</p>
<input type="text" class="form-control" @bind="password"  @bind:event="oninput"/>

<p class="mb-1 mt-3">@passwordLength</p>

<input type="range" class="form-range" step="1" min="6" max="30" @bind="passwordLength" @bind:event="oninput" />
@code
{
    private string password = string.Empty; 
    private int passwordLength = 6;
}

<!--
    @bind ile input elementine bir property bağlanabilir. Bu sayede input elementine girilen değer property üzerinden okunabilir ve güncellenebilir.
    @bind:event="oninput" şeklinde bir kullanım ile input elementine girilen değer password property'sine bağlanır ve password property'si güncellendiğinde input elementi de güncellenir.
    step ile input elementine girilebilecek değerlerin aralığı belirlenebilir.
    min ve max ile input elementine girilebilecek minimum ve maksimum değerler belirlenebilir.
    passwordLength property'si 6 değeri ile başlatılır.
    passwordLength property'si 6 ile 30 arasında bir değer alabilir.
-->