@page "/"
@using PasswordStorageApp.BlazorClient.Pages.AccountPages
@using PasswordStorageApp.Domain.Dtos
@inject HttpClient HttpClient
@inject DialogService DialogService
@inject NotificationService NotificationService

<PageTitle>Home</PageTitle>

<h2>Password Storaged App</h2>

@code
{
 
}